{
  "presets": [
    "es2015",
    "es2016",
    "es2017",
    "react"
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true
    }],
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}