{
  "presets": [
    ["env", {
      "spec": true,
      "modules": "commonjs",
      "targets" : {
        "ios": 11,
        "chrome": 65,
        "firefox": 59
      }
    }],
    "react"
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }],
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ]
}