html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  touch-action: none;
  overflow: hidden; /* prevent scrollbars */
}

.react-app{
  display: flex;
  flex: 1 0 100%;
}

.root{
  flex: 1 0 100%;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none; /* prevent firefox on android bug */
  z-index: 2;
  pointer-events: none; /* touch through the svg down to the canvas below */
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  touch-action: none;
}

.react-app-2{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  pointer-events: none;
}

.react-app circle,
.react-app g{
  pointer-events: painted;
}
.react-app g{
  transition: transform 0.5s, d 0.5s;
}

#viewStats{
  position: absolute;
  top: 0;
  left: 0;
}

#engineStats{
  position: absolute;
  top: 0;
  right: 0;
}