html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  touch-action: none;
}

canvas{
  flex: 1 0 100%;
  background: black;
  touch-action: none;
}

.react-app{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  pointer-events: none;
}

.react-app circle,
.react-app path{
  pointer-events: painted;
}

#viewStats{
  position: absolute;
  top: 0;
  left: 0;
}

#engineStats{
  position: absolute;
  top: 0;
  right: 0;
}