.flexer {
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.progress {
  color: white;
  flex-direction: column;
  font-size: 75px;

  & pre {
    font-size: 10px;
    margin: 0;
    padding: 10px;
  }
}