

:global .react-app{
  display: flex;
  flex: 1 0 100%;
}

.root{
  flex: 1 0 100%;
  display: flex;
}

.clickable{
  pointer-events: painted;
  touch-action: manipulation;
}

.transTrans{
  transition: transform 0.5s;
}

.pieCenter{
  transition: radius 0.5s;
}

.svg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none; /* prevent firefox on android bug */
  z-index: 2;
  pointer-events: none; /* touch through the svg down to the canvas below */
}

.canvas{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  touch-action: none;
}