.main-menu {
  box-shadow: 3px 3px 3px 0 black;
  background: #424C57;
  width: 90%;
  flex: 1 0 auto;

  &.enter {
    transform: translateX(-100%);

    &.enter-active {
      transform: none;
      transition: transform .3s;
    }
  }

  &.exit {
    transform: none;

    &.exit-active {
      transform: translateX(-100%);
      transition: transform .3s;
    }
  }

  & .photo {
    height: 1em;
    border-radius: 16px;
  }

  & .user-details {
    font-family: Courier Bold, Courier, monospace;
    font-size: 10px;
  }

  & .version {
    font-size: 10px;
    color: white;
    padding: 4px;
  }
}
