.main-menu {
  box-shadow: 3px 3px 3px 0 black;
  background: #424C57;
  width: 90%;

  & .photo {
    vertical-align: middle;
    height: 1em;
    padding-right: 0.25em;
  }

  & .version {
    font-size: 10px;
    color: white;
    padding: 4px;
  }
}