.navbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  z-index: 3;

  &[data-main-menu=true] {
    bottom: 0;
  }

  & .bar {
    display: flex;
    background: #31363c;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 3px 3px 0 black;

    &[data-loading=true] {
      background-size: 80px 80px;
      animation: move 2s linear infinite;
      background-image: linear-gradient(
        -45deg,
        #424C57 25%,
        transparent 25%,
        transparent 50%,
        #424C57 50%,
        #424C57 75%,
        transparent 75%
      )
    }

    & button.navbar-button {
      background: transparent;
      border: none;
      outline: none;

      color: white;
      padding: 4px;
      margin: 0;
      font-size: 32px;
      line-height: 0;
      font-family: Arial, Helvetica, sans-serif;

      transition: background-color .3s, color .3s;

      &[data-active=true] {
        background: #424C57;
        color: #03d3ff;
      }
    }

    & .search-bar {
      display: flex;
      flex: 1 0 auto;
      overflow: hidden;

      & .container {
        display: flex;
        flex: 1 0 auto;
        transition: transform .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);

        & .name-box {
          flex: 1 0 calc(100% - 96px);
          text-align: center;
          overflow: hidden;
          position: relative;

          & span {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 16px;
            font-family: Courier Bold, Courier, monospace;

            &.name{
              bottom: 16px;
            }

            &.repo{
              bottom: 4px;
              font-size: .6em;
              color: #ccc;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        & .search-box {
          flex: 1 0 calc(100% - 48px);
          background: #424C57;
          display: flex;

          & input{
            flex: 1 0 auto;
            border: none;
            transition: flex .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            background: transparent;
            color: white;
            font-size: 16px;
            font-family: Courier Bold, Courier, monospace;
            outline: none
          }
        }

        &[data-state=name] {
          transform: translateX(0);
        }

        &[data-state=search] {
          transform: translateX(calc(48px - 100%));
        }
      }
    }
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 160px 0;
  }
}