.navbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  z-index: 3;

  & .bar {
    display: flex;
    background: #31363c;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    flex: 1 0 auto;
    box-shadow: 0 3px 3px 0 black;

    & button.navbar-button {
      background: #31363c;
      border: none;
      outline: none;

      color: white;
      padding: 4px;
      margin: 0;
      font-size: 32px;
      line-height: 0;
      font-family: Arial, Helvetica, sans-serif;

      &[data-active=true] {
        background: #424C57;
        color: #03d3ff;
      }
    }

    & .search-bar {
      display: flex;
      flex: 1 0 auto;

      & .name-box {
        width: 0;
        text-align: center;
        overflow: hidden;
        display: flex;
        align-items: center;
        transition: flex .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);

        & span {
          flex: 1 0 auto;
          text-align: center;
          font-size: 16px;
          font-family: Courier Bold, Courier, monospace;
        }
      }

      &[data-state=name] .name-box {
        flex: 1 0 auto;
      }

      &[data-state=search] .name-box {
        flex: 0 1 0;
      }

      & .search-box {
        width: 0;
        background: #424C57;
        transition: flex .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        display: flex;

        & input{
          flex: 1 0 auto;
          border: none;
          transition: flex .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
          background: transparent;
          color: white;
          font-size: 16px;
          font-family: Courier Bold, Courier, monospace;
          outline: none
        }
      }

      &[data-state=name] .search-box {
        flex: 0 1 0;
      }
      &[data-state=search] .search-box {
        flex: 1 0 auto;
      }
    }
  }
}