.navbar{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  z-index: 3;
}
.navbar .bar{
  display: flex;
  background: #2a2d30;
  border-bottom: 2px solid #446364;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1 0 auto;
}

.navbar>.bar>button{
  background: #2a2d30;
  border: none;
  outline: none;

  color: white;
  padding: 0;
  font-size: 32px;
  line-height: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar input{
  border: none;
  transition: flex .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  background: transparent;
  color: #aaa;
  font-size: 16px;
  outline: none
}

.navbar .nameBox{
  flex: 1 0 auto;
  width: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: flex .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.navbar .bar.searchState .nameBox{
  flex: 0 1 0;
}

.navbar .nameBox span{
  flex: 1 0 auto;
  text-align: center;
}

.navbar .searchBox{
  flex: 0 1 0;
  width: 0;
  transition: flex .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  display: flex;
}

.navbar .bar.searchState .searchBox{
  flex: 1 0 auto;
}

.navbar .searchBox input{
  flex: 1 0 auto;
}
