.searchResults{
  display: flex;
}

.search{
  display: flex;
  position: absolute;
  flex-direction: column;

}

.input{
  background: #2a2d30;
  border: 2px solid #446364;
  color: white;
  flex: 0 0 auto;
  outline: none;
  font-size: 16px;
  padding: 0.5em;
}

.searchButton{
}

.results{
  margin: 0.25em 0 0 0;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background: #2a2d30;
  border: 2px solid #446364;
  color: white;
}

.result{
  padding: 0.5em;
  outline: none;
  background: none;
  border: none;
  text-align: left;
  color: white;
  font-size: 16px;
}

.result:active{
  background: #446364;
}

/******************/

.searchResults{
  display: flex;
  flex-direction: column;
}

.searchResultsContainer{
  flex: 0 1 auto;
  overflow: auto;
  -webkit-overflow-scrolling: auto;
}

.searchResult{
  display: flex;
  flex-direction: row;
  background: #2a2d30;
  border: 2px solid #446364;
  border-top: none;
  color: white;
}

.searchResult .noExactMatch,
.searchResult .insertPackage,
.searchResult .openComponent{
  outline: none;
  background: none;
  border: none;
  text-align: left;
  color: white;
  font-size: 16px;
  padding: 8px;
}

.searchResult .noExactMatch,
.searchResult .insertPackage{
  flex: 1 0 auto;
}

.searchResult .openComponent{
  flex: 0 0 auto;
  display: flex;
  font-size: 24px;
  padding: 4px;
}