.container {
  overflow: hidden;
  padding-bottom: 6px;

  & .simulation-menu {
    display: flex;
    align-items: center;
    color: white;
    background: #424C57;
    box-shadow: 0 3px 3px 0 black;

    &.enter {
      transform: translateY(-100%);

      &.enter-active {
        transform: none;
        transition: transform .3s;
      }
    }

    &.exit {
      transform: none;

      &.exit-active {
        transform: translateY(-100%);
        transition: transform .3s;
      }
    }

    & .flex-fill {
      flex: 1 0 auto;
      height: 32px;
      margin: 0 2px;
      border-left: 1px solid #31363c;
      border-right: 1px solid #31363c;
    }

    & button {
      background: transparent;
      border: none;
      outline: none;
      color: white;
      padding: 8px;
      font-size: 24px;
      line-height: 0;
      font-family: Arial, Helvetica, sans-serif;

      &.disabled {
        color: #aaa;
      }

      &.selected {
        color: #03d3ff;
      }
    }
  }
}

[data-main-menu=true] .container{
  padding-bottom: 0;
}