.simulation-menu {
  display: flex;
  align-items: center;
  color: white;
  background: #446364;

  & button {
    background: transparent;
    border: none;
    outline: none;
    color: #aaa;
    padding: 0;
    font-size: 32px;
    line-height: 0;
    font-family: Arial, Helvetica, sans-serif;

    &.selected{
      color: white
    }
  }
}