.item-list {
  display: flex;
  flex-direction: column;

  & button {
    outline: none;
    background: none;
    border: none;
    text-align: left;
    color: inherit;
  }

  & .item,
  & .sub-item {
    display: flex;
    flex-direction: row;
    border: none;
    border-bottom: 1px solid #31363c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

    & .header {
      justify-content: center;
      font-size: 24px;
      font-weight: bold;
    }

    & .header,
    & .label,
    & .label-vertical {
      padding: 4px;
      display: flex;
      flex: 1 0 auto;
      align-self: center;
      font-size: 16px;
    }

    & .label-vertical {
      flex-direction: column;
      align-items: start;
      justify-content: center;

      & .sub {
        font-size: 10px;
      }
    }

    &.centered{
      justify-content: center;
    }

    & .nested-button {
      display: flex;
      background: #353d46;
      margin: 10px;
      padding: 0 30px;
      border-radius: 5px;
      border-bottom: 5px solid #31363c;

      &:active {
        background: #586472;
        border-bottom: 5px solid #757d87
      }
    }
  }

  & .sub-item {
    background: #353d46;
    padding-left: 40px;
  }
}

.popup {
  background: #424C57;
  box-shadow: 0 0 10px 0 black;
}

.icon,
.spinning-icon,
.icon-down {
  width: 1em;
  height: 1em;
  flex: 0 0 auto;
  display: flex;
  font-size: 32px;
  padding: 4px;
  transition: transform .5s;
}

.spinning-icon {
  animation: spin 1s infinite steps(8, end);
}

.icon-down {
  transform: rotate(90deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}