.item-list {
  display: flex;
  flex-direction: column;

  & button {
    outline: none;
    background: none;
    border: none;
    text-align: left;
    color: inherit;
  }

  & .item,
  & .sub-item {
    display: flex;
    flex-direction: row;
    border: none;
    border-bottom: 1px solid #31363c;
    color: white;
    text-decoration: none;

    & .label,
    & .label-vertical {
      padding: 4px;
      display: flex;
      flex: 1 0 auto;
      align-self: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    & .label-vertical {
      flex-direction: column;
      align-items: start;
      justify-content: center;

      & .sub {
        font-size: 10px;
      }
    }
  }

  & .sub-item {
    background: #00000033;
    padding-left: 40px;
  }
}

.icon,
.spinning-icon,
.icon-down {
  width: 1em;
  height: 1em;
  flex: 0 0 auto;
  display: flex;
  font-size: 32px;
  padding: 4px;
  transition: transform .5s;
}

.spinning-icon {
  animation: spin 1s infinite steps(8, end);
}

.icon-down {
  transform: rotate(90deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}