.main-menu {
  grid-area: full;
  margin-right: 48px;
  background: #424C57;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;

  & .user-photo {
    font-size: 25vw;
    height: 1em;
    width: 1em;
    min-height: 1em;
    margin: 10px auto;
    overflow: hidden;
    border-radius: .5em;
    color: white;
    background: #31363c;
  }

  & .user-name {
    font-size: 1.5em;
    font-weight: bold;
  }

  & .user-link {
    font-size: 0.75em;
    margin: 0.5em 0;
  }

  & .statistics {
    border-bottom: 1px solid #31363c;
    padding-bottom: 0.5em;
  }

  & .statistics,
  & .user-name,
  & .user-link {
    color: white;
    text-align: center;
  }

  & .flex-spacer {
    flex: 1 0 auto;
    border-bottom: 1px solid #31363c;
  }

  & .danger-button {
    & span {
      color: #d66;
    }
  }

  & .version {
    font-size: 10px;
    color: white;
    padding: 4px;
  }
}
