.is-busy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & pre {
    margin: 0;
    padding: 10px;
    font-size: 10px;
  }
}

.photo-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2,
  & h3,
  & h5 {
    margin: 0;
  }

  & a {
    color: inherit;
  }

  & .photo {
    margin: 10px 0;
    font-size: 25vw;
    height: 1em;
    border-radius: .5em;
  }

  & p {
    margin: 10px 0;
  }
}